<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Academic"  >
<listeners>
     		 <listener class-name="selenium.academy.testcases.AcademyListeners" />	
    	 </listeners>
  <test thread-count="5" name="Test">
    	<classes>
      		<class name="selenium.academy.testcases.BasicChecks">
      		<methods><exclude name="verifyRegistration1" /></methods>
     		</class>
   		</classes>   
  </test> <!-- Test -->
</suite> <!-- Academic -->
